# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Credenciales
.env
.streamlit/secrets.toml

# Archivos temporales
*.log
*.csv~
.DS_Store

# Base de datos local
*.db
*.db.mv.db
*.db.trace.db
